<form action="<%= cats_url %>" method="post">



  <label for="name">Name:</label>
  <input id = "name" type="text" name="cat[name]">

  <br>

  <label for="sex">Sex:</label>
  <input type="radio" name="gender" value="M" checked> Male
  <input type="radio" name="gender" value="F"> Female

  <br>


<label for="color">Color:</label>
 <select>
   <option disabled selected="selected" > Please Select </option>
   <option value="Brown">Brown</option>
   <option value="Black">Black</option>
 </select>

 <br>

<label for="birth_date">Cat's Birthday:</label>
<input id="date" type="date">

<br>


<label for="description"> Cat Description: </label>
<br>
<textarea rows = "4" cols = "50">
enter the description for the caption
</textarea>




  <input type="submit" value="add cat">
</form>
